#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);  
  margin: 16px 24px 16px 0;
  float: left;
}

.align-middle {
  display:flex;
  align-items: center;
}
.App {
  padding: 2%;
}

.mt-1 {
  margin-top: 1em;
}